{% extends "base.html" %} 
{% block content %}
<style>
    body {
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: black;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
            <div class="overlay p-5">
                <h1 class="display-4 mb-4">
                    KonsulKarir Job Portal
                </h1>
                <div class="search">
                    <form action="{% url 'searchjob' %}">
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Keywords</label>
                                <input type="text" name="keywords" class="form-control"
                                    placeholder="Job tittle or keywords" value="{{ value.keywords }}">
                            </div>
                
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Area</label>
                                <input type="text" name="area" class="form-control"
                                placeholder="Area or City" value="{{ value.area }}">
                            </div>
                        </div>
                        <!-- Form Row 2 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Minimum Experience</label>
                                <select name="minexperience" class="form-control">
                                    <option selected="true" disabled="disabled">Minimum Experience (year)</option>
                                    {% for key,value in minexperience_choices.items %}
                                        <option value="{{ key }}"
                                        {% if key == values.minexperience %}
                                            selected
                                        {% endif %}
                                        >{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Specialization</label>
                                <select name="specialization" class="form-control">
                                    <option selected="true" disabled="disabled">Specialization</option>
                                    {% for key,value in specialization_choices.items %}
                                    <option value="{{ key }}"
                                    {% if key == values.specialization %}
                                        selected
                                    {% endif %}
                                    >{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for vacancy in vacancies %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ vacancy.title }}</h2>
                    <p class="card-text text-muted h6"> | {{ vacancy.created_on}} </p>
                    <p class="card-text">{{vacancy.description|slice:":200" }}</p>
                    <a href="{% url 'vacancy_detail' vacancy.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{%endblock%}