{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ vacancy.title }} {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">{{ vacancy.title }}</h1>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'vacancy' %}">Job Portal</a>
                </li>
                <li class="breadcrumb-item active">{{ vacancy.title }}</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Listing -->
<section id="listing" class="py-4">
    <div class="container">
        <a href="{% url 'vacancy' %}" class="btn btn-light mb-4">Back To Job Portal</a>
        <div class="row">
            <div class="col-md-8">
                <!-- Home Main Image -->
                {% if vacancy.post_picture %}
                     <img src="{{ vacancy.post_picture.url }}" alt="" class="img-main img-fluid mb-3">
                {% endif %}
                <!-- Fields -->
                <div class="row mb-5 fields">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class=""></i> Specialization: <br>
                                <span class="">{{ vacancy.specialization }}</span>
                                
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class=""></i> Area:
                                <span class="float-right">{{ vacancy.area }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class=""></i> Experience required:
                                <span class="float-right">{{ vacancy.experience_required  }} Years</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class=""></i> Post Date:
                                <span class="float-right">{{ vacancy.created_on }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class=""></i> Expired Date:
                                <span class="float-right">{{ vacancy.expired_on }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-money-bill-alt"></i> Salary:
                                <span class="float-right">${{ vacancy.salary | intcomma }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class=""></i> Description:
                                <span class="">{{ vacancy.description }}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Description -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        {{ listing.description }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">

                    <div class="card-body">
                        <h5 class="card-title">Company:</h5>
                        <img src="{{ vacancy.picture.url }}" alt="" class="img-main img-fluid mb-3">
                        <h6 class="">{{ vacancy.company }}</h6>
                        <h6 class="">Company Size: {{ vacancy.company.company_size }} Employees</h6>
                        <h6 class="">Industry: {{ vacancy.company.industry }}</h6>
                        <h6 class="">Website: {{ vacancy.company.website }}</h6>
                        <h6 class="">Overview: {{ vacancy.company.overview }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}